/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Sail&display=swap');

/* Colors */
:root {
    --light-shade: #faf7f7;
    --light-accent: #8b875a;
    --main-brand: #82a127;
    --dark-accent: #734f36;
    --dark-shade: #312834;
    --red: #b60a0a;
}

/* All */
* {
    font-family: 'Roboto', 'sans-serif';
}

body {
    background-color: var(--dark-shade);
}

hr {
    border: 4px solid var(--light-shade);
}

/* Main Logo */
.main-logo {
    color: var(--main-brand);
    font-family: 'Sail', 'Roboto', 'sans-serif';
    font-size: 3rem;
}


@media screen and (max-width: 400px) {
    .main-logo {
        font-size: 2rem;
    }
}

/* Backgrounds */
.black-background {
    background-color: var(--dark-shade);
}

.white-background {
    background-color: var(--light-shade);
}

.light-accent-background {
    background-color: var(--light-accent);
}

.green-background {
    background-color: var(--main-brand);
}

.brown-background {
    background-color: var(--dark-accent);
}

/* Texts */
.white-text {
    color: var(--light-shade);
}

.black-text {
    color: var(--dark-shade);
}

.green-text {
    color: var(--main-brand);
}

.light-text {
    color: var(--light-accent);
}

/* Links */
a i {
    font-size: 200%;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: var(--main-brand);
    transition: all 0.2s ease-out;
}

.link:focus {
    color: var(--main-brand);
}

.special-link {
    text-decoration: underline;
}

.special-link:hover {
    color: var(--main-brand);
    transition: all 0.2s ease-out;
}

.special-link:focus {
    color: var(--main-brand);
}

.footer {
    padding-top: 10px;
    padding-bottom: 10px; 
    margin-bottom: 10px;
}

.social-media-border {
    padding: 10px;
    border-radius: 10px;
    border: 5px solid var(--main-brand);
}

.center-text {
    text-align: center;
}

.inline-list {
    display: inline;
}

.nav-float {
    margin-left: 1.8vw;
    justify-content: right;
}

/* Genre page */
.genre-image {
    width: 100%;
    height: 30vh;
    margin-bottom: 30px;
    object-fit: cover;
    object-position: center;
}

.inline-text {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
    text-align: left;
}

.genre-paragraph-text {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

/* For standard buttons, most commonly for generation */
.generate-button {
    text-decoration: none;
    color: var(--light-shade);
    background-color: var(--dark-shade);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 3px;
    border-top-left-radius: 10px 30px;
    border-bottom-right-radius: 10px 30px;
    border-color: var(--main-brand);
    border: 5px solid var(--main-brand);
    font-size: 1.8rem;
    display: inline-block;
}

.generate-button:hover, .generate-button:focus {
    color: var(--main-brand);
    transition: all 0.2s ease-out;
}

/* For cards in Genre page */
.card.genre {
    min-height: 65vh;
}

@media screen and (max-width: 768px) {
    .card.genre {
        min-height: 40vh;
    }
}

@media screen and (max-width: 500px) {
    .card.genre {
        min-height: 20vh;
    }
}

/* For delete button */
.delete-button {
    text-decoration: none;
    color: var(--light-shade);
    background-color: var(--red);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 3px;
    border-top-left-radius: 10px 30px;
    border-bottom-right-radius: 10px 30px;
    border: solid 5px var(--red);
    font-size: 1.8rem;
    display: inline-block;
}

.delete-button:hover, .delete-button:focus {
    color: var(--dark-shade);
    transition: all 0.2s ease-out;
}

/* generic area used for bordering with container-fluid class */
.generic-area {
    border-top:1px solid var(--light-shade);
    border-bottom:1px solid var(--light-shade);
    border-right:4px solid var(--light-shade);
    border-left:4px solid var(--light-shade);
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 70vh;
}

/* media queries for Genre page */
@media screen and (max-width: 1200px) {
    .genre-image {
    width: 100%;
    height: 20vh; 
    }
}

@media screen and (max-width: 500px) {
    .genre-image {
        display: none;
    }

    .generate-button {
        margin-top: 0;
    }
}

/* Text for landing page */
.responsive-text p{
    font-size: 1.5rem;
}

.large-text {
    border: 0;
    font-size: 150%;
}

.hide-button {
    display: none;
}








