/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Sail&display=swap');


/* Colors */
:root {
    --light-shade: #faf7f7;
    --light-accent: #8b875a;
    --main-brand: #82a127;
    --dark-accent: #734f36;
    --dark-shade: #312834;
}

* {
    font-family: 'Roboto', 'sans-serif';
}

body {
    background-color: var(--dark-shade);
}

hr {
    border: 4px solid var(--light-shade);
}

.main-logo {
    color: var(--main-brand);
    font-family: 'Sail', 'Roboto', 'sans-serif';
    font-size: 3rem;
}


@media screen and (max-width: 400px) {
    .main-logo {
        font-size: 2rem;
    }
}

.black-background {
    background-color: var(--dark-shade);
}

.white-background {
    background-color: var(--light-shade);
}

.light-accent-background {
    background-color: var(--light-accent);
}

.green-background {
    background-color: var(--main-brand);
}

.brown-background {
    background-color: var(--dark-accent);
}

.white-text {
    color: var(--light-shade);
}

.black-text {
    color: var(--dark-shade);
}

.green-text {
    color: var(--main-brand);
}

/* Spacing */

a i {
    font-size: 300%;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: var(--main-brand);
    transition: all color 0.5s ease-out;
}

.link:focus {
    color: var(--main-brand);
}

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    
    margin-bottom: 10px;
}

.social-media-border {
    padding:10px;
    border-radius: 10px;
    border: 5px solid var(--main-brand);
}

.center-text {
    text-align: center;
}

.inline-list {
    display: inline;
}

.nav-float {
    margin-left: 10vw;
    justify-content: right;
}

/* Genre page */
.genre-image {
    width: 25vw;
    height: 40vh;
    margin-bottom: 30px;
    object-fit: cover;
    object-position: center;
}

.inline-text {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
    text-align: left;
}



.genre-paragraph-text {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.generate-button {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: var(--light-shade);
    background-color: var(--dark-shade);
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-left-radius: 10px 30px;
    border-bottom-right-radius: 10px 30px;
    border-color: var(--main-brand);
    border-width: 5px;
}

.generate-button a {
    color: var(--light-shade);
    background-color: var(--dark-shade);
    text-decoration: none;
    font-size: larger;
}

.generate-button a:hover, .generate-button a:focus {
    color: var(--main-brand);
    transition: all color 0.5s ease-out;
}

/* generic area used for bordering with container-fluid class */
.generic-area {
    border:5px solid var(--dark-accent);
    padding-top: 20px;
    padding-bottom: 20px;
}

/* media queries for Genre page */
@media screen and (max-width: 1200px) {
    .genre-image {
    padding-left:2vw;
    width: 90vw;
    height: 20vh; 
    }
}

@media screen and (max-width: 500px) {
    .genre-image {
        display: none;
    }

    .generate-button {
        margin-top: 0;
    }
}


