{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid generic-area">
    <div class="container">
        <form class="white-text container" method="post">
            {{ story_idea_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="generate-button mt-3">Save Story Idea</button>
            <!--Redirects to same page-->
            <div>
                <a class="generate-button mt-3" href="{{ request.path }}">Generate Another
                    Idea!</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}