{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}


<form action="" class="white-text container" method="post">
    {{ story_idea_form | crispy }}
    {% csrf_token %}
    <button type="submit" class="generate-button">Submit</button>
    <!--Redirects to same page-->
    <button type="button" class="generate-button"><a href="{{ request.path }}">Generate Another Idea!</a></button>
</form>

{% endblock %}
{% block script %}
<!--Script added here instead of externally due to inability to handle Django's 
data otherwise -->
<!--Added safe tags due to these pieces of data being provided by admin and not by user-->
<script>
    document.addEventListener('DOMContentLoaded', event => {
    let storyStart = `{{ story_start }} {{ story_middle }} {{ story_end }}`;
    document.getElementById("id_story_text").setAttribute("value", storyStart);
})
</script>
{% endblock %}