{% extends 'base.html' %}

{% block content %}

<div class="container-fluid white-text center-text">
    <div class="row">
        <div class="col generic-area">
            <h1 class="white-text center-text"> Welcome to <span class="main-logo">SyntheStory!</span> </h1>
            <hr>
            <section>
                <h2>
                    Got Writer's Block?
                </h2>
                <p class=>SyntheStory can solve that for you! Here at SyntheStory you can signup and start generating
                    ideas today! </p>
                <h2>
                    How to Use SyntheStory:
                </h2>
                <!--Needs work on this section, specifically all the list numbers and add links and images -->
                <ol>
                    <li>Start by signing up for an account here:</li>
                    <li>After logging in, click on the <em>Create Idea</em> tab in the menu above.</li>
                    <li>Select which genre you would like to have a story idea created in. </li>
                    <li>Refresh by hitting the <em>Generate Another</em> until you like the story idea (you can also
                        type in whatever you want up to a certain amount of characters). Then give your story idea a title and hit <em>Save Idea</em></li>
                    <li>You'll be redirected to the <em>My Stories</em> page, where you can see your story ideas you've saved.</li>
                    <li>You can then edit or delete story ideas you want by clicking on the <em>Edit Idea</em> or <em>Delete Idea</em> buttons. </li>
                </ol>
            </section>
        </div>
    </div>
</div>

{% endblock %}