{% extends 'base.html' %}

{% block content %}

<div class="container-fluid white-text responsive-text generic-area">
    <div class="row">
        <div class="col center-text">
            <h1> Welcome to <span class="main-logo">SyntheStory!</span> </h1>
            <hr>
            <section>
                <h2>
                    Got Writer's Block?
                </h2>
                <p>SyntheStory can solve that for you! Here at SyntheStory you can signup and start generating
                    ideas today! </p>
                <h2 >
                    How to Use <span class="main-logo">SyntheStory:</span>
                </h2>
            </section>
        </div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-xl-2"></div>
        <div class="col-xl-2"><h1 class="main-logo">Step 1</h1></div>
        {% if not user.is_authenticated %}
        <div class="col-xl-6"><p>Start by signing up for an account here: <a href="{% url 'account_signup' %}" class="white-text special-link">Account Signup</a></p></div>
        {% else %}
        <div class="col-xl-6"><p>You've already completed this step by logging in!</p></div>
        {% endif %}
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-xl-2"></div>
        <div class="col-xl-2"><h1 class="main-logo">Step 2</h1></div>
        <div class="col-xl-6"><p>After logging in, click on the <em>Create Idea</em> tab in the menu above.</p></div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-xl-2"></div>
        <div class="col-xl-2"><h1 class="main-logo">Step 3</h1></div>
        <div class="col-xl-6"><p>Select which genre you would like to have a story idea created in.</p></div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-xl-2"></div>
        <div class="col-xl-2"><h1 class="main-logo">Step 4</h1></div>
        <div class="col-xl-6"><p>Refresh by hitting the <em>Generate Another</em> until you like the story idea (you can also
            type in whatever you want as long as it's short). Then give your story idea a title and hit <em>Save Idea.</em></p></div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-xl-2"></div>
        <div class="col-xl-2"><h1 class="main-logo">Step 5</h1></div>
        <div class="col-xl-6"><p>You'll be redirected to the <em>My Stories</em> page, where you can see a list of story ideas you've saved.</p></div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-xl-2"></div>
        <div class="col-xl-2"><h1 class="main-logo">Step 6</h1></div>
        <div class="col-xl-6"><p>From here, click on the <em>View</em> link to see that specific story idea.</p></div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-xl-2"></div>
        <div class="col-xl-2"><h1 class="main-logo">Step 7</h1></div>
        <div class="col-xl-6"><p>You can then edit or delete story ideas you want by clicking on the <em>Edit Story Idea</em> or <em>Delete Story Idea</em> buttons. </p></div>
    </div>
</div>

{% endblock %}